*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}
.header{
  margin-top: 1px;
  display: flex;
  align-items: center;
}

.bankBalance{
  background-color: #009dff;
  width: 80vw;
  padding: 40px;
  margin: 10px 20px;
  border-radius: 10px;
  color: white;
  z-index: 10;
}

.bankBalance p{
  font-size: 25px;
}
.bankBalance h1{
  font-size: 40px;
}